<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Spring company Home Page</title>
</head>
<body>

<h2>Spring Company Home Page</h2>
<hr>
<p>Welcome to the Spring company home page</p>
<hr>
<!--Display the username and role, added xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Roles: <span sec:authentication="principal.authorities"></span>
</p>

<!-- Add a link to point to /leaders ... for the managers -->
<p>
    <a href="/leaders">Leadership meeting</a>
    (Only for manager peeps)
</p>

<!-- Add a link to point to /systems ... for the admins -->
<p>
    <a href="/systems">IT Systems Meeting</a>
    (Only for manager peeps)
</p>

<form action="#" method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>
